.navigation {
    right: 0px;
    padding: 0.5rem;
    // position: relative;
    position: fixed;
    left: 0px;
    margin-bottom: 2rem;

    .logo {
        display: inline-block;
        width: 160px;
        padding: 10px;
    }

    #threeLines {
        display: none;
        top: 12px;
        right: 12px;
    }

    ul {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        // border-bottom: 1px solid #cccccc;

        li {
            &.logo {
                width: 160px;
            }

            list-style: none;
            display: inline-block;

            a {
                font-family: Montserrat, sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: .3px;
                padding: 1rem;
                display: inline-block;
                transition: all .3s linear 0s;

                &:hover {
                    color: $primary !important;
                    transition: all .3s linear 0s;
                }
            }
        }
    }

    @media (max-width: $to-small) {
        // position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99999;
        // display: none;
        border-bottom: 1px solid #cccccc;

        #threeLines {
            display: block;
        }

        ul {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            bottom: 0px;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;

            &.closed {
                opacity: 0;
                display: none;
            }

            &.open {
                opacity: 1;
                display: block;
                height: 100vh;
            }

            li {
                &.logo {
                    width: 160px;
                }

                list-style: none;
                display: block;

                a {
                    font-family: Montserrat, sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 25px;
                    letter-spacing: .3px;
                    padding: 1rem;
                    display: block;
                    transition: all .3s linear 0s;

                    &:hover {
                        color: $primary !important;
                        transition: all .3s linear 0s;
                    }

                    border-bottom: 1px solid #cccccc;

                }
            }
        }
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99;
    }

    @media (min-width: $from-medium) and (max-width: $to-large) {}

    @media (min-width: $from-large) and (max-width: $to-huge) {}

    @media (min-width: $from-huge) and (max-width: $to-gigantic) {}

    @media (min-width: $from-gigantic) and (max-width: $to-colossal) {}

    @media (min-width: $from-colossal) {}
}