.achivment {
  //    border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;

  .anim-word {
    display: flex;
    flex-wrap: wrap;
    color: #313131;
    font-weight: 700;
    letter-spacing: 1px;
    .word {
      margin-right: 12px;
      position: relative;
      .shadow {
        position: absolute;
        opacity: 0.1;
      }
    }
  }

  .title-subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

    h3 {
      text-align: center;
      width: 80%;
      margin: 0;
    }
    p {
      text-align: center;
      width: 80%;
    }
  }
  // span {
  //   display: block;
  //   width: 4px;
  //   height: 4px;
  //   border-radius: 2px;
  //   margin: 1rem 0;
  //   background-color: $primary;
  //   margin-left: -2px;
  //   left: 50%;
  // }
}
