.project-list-section {
  ul.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    li {
      width: 50%;
      padding: 1rem;
      div.card {
        width: 100%;
        max-height: 300px;
        // border-top: 1px solid $primary;
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        border: 1rem;
        overflow: hidden;
        color: black;
        .title {
          font-size: 2rem;
          margin: 0px;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }
        p {
          margin-bottom: 1.5rem;
          margin: 2rem 0;
          color: $gray;
        }
        .discover {
          font-size: 2rem;
          font-weight: normal;
        }
      }
    }
  }
}
