.slideIn{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: red;
    transform-origin: bottom;
    z-index: 99;
}
.slideOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: green;
    transform-origin: top;
    z-index: 98;
}